@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dmytro Nagirnyak, group 42</h1>
    <h1 class="display-4">Lab5 - launch labs №1, №2 and №3 with web application</h1>
</div>
